body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: "Moon", sans-serif;
  letter-spacing: 0.2em;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee Spice", sans-serif;
  margin: 0;
}


@keyframes starfield {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -2000px 0;
  }
}

a {
  color: chartreuse;
  text-decoration: none;
}

a {
  color: chartreuse;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: chartreuse;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::after {
  transform: scaleX(1);
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  text-align: center;
  overflow: hidden;
}

#logo {
  max-width: 90vw;
  max-height: 90vh;
  aspect-ratio: 1/1;
  object-fit: contain;
  animation: spin 30s linear infinite;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#click-counter {
  margin-top: 20px;
  font-size: 1.5em;
}

.click-effect {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  animation: clickEffect 0.5s ease-out;
  pointer-events: none;
}

@keyframes clickEffect {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

.layer {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 30px 20px;
  box-sizing: border-box;
  z-index: 1;
  display: grid;
  place-items: center;
}

.layer img {
  max-width: 100%;
}

.surface-layer {
  background: url('../images/IsoMoon.webp') no-repeat center center;
  animation: pan 60s linear infinite;
}

.text-center {
  text-align: center;
}

@keyframes pan {
  0% {
    background-position: 50% 30%;
  }

  25% {
    background-position: 70% 50%;
  }

  50% {
    background-position: 50% 70%;
  }

  75% {
    background-position: 30% 50%;
  }

  100% {
    background-position: 50% 30%;
  }
}

#content {
  padding-bottom: 100px;
}

.content-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: min(800px, 95vw);
  margin: 0 auto;
  backdrop-filter: blur(6px);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#footer-logo {
  width: 100px;
  cursor: pointer;
}